<!DOCTYPE html>
<html lang='en'>
<head>
    <script type="text/javascript" src="https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
    <meta charset='UTF-8'>
    <meta name='viewport' content=width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='{{ url_for("static", filename="css/main.css") }}'
    {% block head%}{% endblock %}
</head>
<body>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23B39DDB&ctz=Europe%2FLondon&hl=en_GB&src=ZWxpemFiZXRoLnZlbGxpQGdtYWlsLmNvbQ&src=OG1nZWlyczJhbWwwamVlN3E4MnBkaDZsMzhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=cHNpbGtlODlAZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZWwudWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%234285F4&color=%239E69AF&color=%237CB342&color=%237CB342&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1688072745/size=large/bgcol=333333/linkcol=fe7eaf/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://aprilrose.bandcamp.com/album/dance-cohesion-rhythm-loops">Dance Cohesion Rhythm Loops by April Rose</a></iframe>
        <!-- Button code -->
    <div title="Add to Calendar" class="addeventatc">
        Schedule your Practice
        <span class="start">03/26/2022 08:00 AM</span>
        <span class="end">03/26/2022 10:00 AM</span>
        <span class="timezone">America/Los_Angeles
    </span>
        <span class="title">Summary of the event</span>
        <span class="description">Description of the event</span>
        <span class="location">Location of the event</span>
    </div>
    {% block body%}{% endblock %}
</body>


</html>